:root {
  --cor1: #03045e; 
  --cor2: #0077b6; 
  --cor3: #00b4d8; 
  --cor4: #90e0ef; 
  --cor5: #caf0f8; 
}

.body {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
  min-height: 100vh; 
  background-image: url('imagem-fundo.jfif');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
}

.container {
  width: 100%; 
  padding: 0; 
  box-sizing: border-box; 
}

.topo {
  display: flex;
  align-items: center;
  width: 100%;  
  background-color: var(--cor1); 
  position: fixed; 
  top: 0;
  height: 60px; 
  padding: 5px 0;
}

.topo-esquerda {
  width: 50px;
}

.logo {
  width: 40px;
  cursor: pointer;
}

.topo-meio {
  flex-grow: 2; /* Faz a div ocupar maior parte do espaço */
  text-align: center; /* Centraliza o conteúdo */
}

.topo-direita {
  display: flex;
  gap: 15px; /* Espaçamento entre os botões */
  margin-right: 20px; /* Margem da borda direita */
}

.meio {
  display: flex;
  justify-content: flex-end; /* Move a imagem para a direita */
  align-items: center; 
  width: 100%; 
  height: 400px; 
  color: var(--cor5);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.imagem-grande {
  max-width: 90%;
  height: auto;
  margin-right: 10%; /* Espaçamento da borda direita */
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.botoes button {
  padding: 10px 20px;
  background-color: var(--cor3); 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botoes button:hover {
  background-color: var(--cor2);
}

.baixo {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; 
  width: 100vw; 
  background-color: rgba(137, 43, 226, 0);
  padding: 20px 0; 
}


              .quadro {
                text-align: center;
                background-color: #00b4d891; 
                color: var(--cor1);
                padding: 15px;
                border-radius: 8px;
                width: 30%; 
                min-width: 150px; 
                transition: transform 0.3s ease, box-shadow 0.3s ease;
              }

              .quadro h3 {
                font-size: 22px;
                color: var(--cor1); 
                margin-bottom: 10px;
                font-weight: bold;
              }

              .quadro p {
                font-size: 15px;
                color: var(--cor6); 
                line-height: 1.4;
              }

              .quadro:hover {
                transform: translateY(-8px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
              }


        .botao {
          background-color: var(--cor3); 
          color: white;
          border: none;
          padding: 10px 15px;
          cursor: pointer;
          transition: background-color 0.3s;
        }

        .botao:hover {
          background-color: var(--cor2); 
        }













/*==============================               Cadastro                  ============================*/

:root {
  --cor1: #03045e; 
  --cor2: #0077b6; 
  --cor3: #00b4d8; 
  --cor4: #90e0ef; 
  --cor5: #caf0f8; 
  --corBotao: #007bff;
  --corBotaoHover: #0056b3;
}

  .cadastro-body {
    background-image: url('imagem-fundo.jfif');
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    mask-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
  }

    .cadastro-container {
      
      width: 100%; 
      padding: 0; 
      box-sizing: border-box; 
    }

    .cadastro-topo {
      background-color: var(--cor1);
      display: flex;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 0; 
      height: 60px; 
      padding: 5px 0; 
    }

          .cadastro-topo-esquerda {
            display: flex;
            align-items: center;
          }

          .cadastro-topo-esquerda {
            width: 10%;
          }

              .cadastro-topo-esquerda-esquerda{
                width: 10px;
              }
          
          .imagem .logo {
            width: 40px;
            cursor: pointer;
          }
          
          .cadastro-topo-meio {
            flex-grow: 1;
            text-align: center;
            color: var(--cor5);
            font-size: 1.5em;
            font-weight: bold;
          }

          .cadastro-topo-meio{
            display: flex;
            align-items: center;
          }

          .cadastro-topo-direita {
            width: 10%;
            justify-content: flex-end;
          }

              .cadastro-topo-direita{
                display: flex;
                align-items: center;
              }

              .cadastro-topo-direita-direita{
                width: 10px;
              }

                  .cadastro-botao-voltar{
                    background-color: var(--cor3);
                    color: var(--cor5);
                  }

                  .cadastro-botao-voltar {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
                    margin: 20px 0;
                  }
          
                  .cadastro-botao-voltar button {
                    padding: 10px 20px;
                    background-color: var(--cor1); 
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                  }
          
                  .cadastro-botao-voltar button:hover {
                    background-color: var(--cor3); 
                  }
          
          
      .cadastro-meio {
        
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-top: 80px;
      }
     
      
      
          .cadastro-info {
            background-color: var(--cor3);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            max-width: 500px;
            width: 100%;
          }

              .cadastro-form {
                background-color: var(--cor5);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                width: 100%;
                max-width: 400px;
              }

                  .input{
                    background-color: var(--cor4);
                    color: var(--cor1);
                  }

                      input::placeholder {
                       color: var(--cor3); 
                        opacity: 1;  
                      }

                      input[type="date"] {
                        color: var(--cor3); 
                      }

                  .cadastro-form input {
                    width: 100%;
                    padding: 12px;
                    margin-bottom: 15px;
                    border: 1px solid var(--cor1);
                  
                    border-radius: 5px;
                    font-size: 16px;
                  }

                  .cadastro-form input:focus {
                    border-color: var(--corBotao);
                    outline: none;
                  }

                  
.label-senha {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--cor1);
  margin-top: 5px;
  cursor: pointer;
}

.label-senha input[type="checkbox"] {
  margin-right: 5px;
  width: 20px;
  height: 16px;
  margin-right: 8px; 
  accent-color: var(--cor2); 
  cursor: pointer;
}

.label-senha input[type="checkbox"]:checked {
  accent-color: var(--cor2); 
}

                  .cadastro-botao-cadastro {
                    background-color: var(--corBotao);
                    color: var(--cor5);
                    padding: 12px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 16px;
                    width: 100%;
                    transition: background-color 0.3s;
                    font-weight: bold;
                  }

                  .cadastro-botao-cadastro:hover {
                    background-color: var(--cor2);
                  }

                  .popup-overlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.5);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 1000;
                  }
                  
                  .popup-content {
                    background: var(--cor4);
                    color: var(--cor1);
                    padding: 20px;
                    border-radius: 8px;
                    text-align: center;
                    max-width: 400px;
                    width: 100%;
                    box-shadow: 0 4px 8px var(--cor1);
                  }
                  
                  .popup-content h3 {
                    margin-top: 0;
                  }
                  
                  .popup-content button {
                    margin-top: 15px;
                    padding: 10px 20px;
                    background-color: var(--cor3);
                    color: var(--cor1);
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                  }
                  
                  .popup-content button:hover {
                    background-color: var(--cor3);
                  }
                  

          .cadastro-baixo {
        background-color: var(--cor2);
        width: 100%;
        height: 100px;
        text-align: center;
        font-size: 1.2em;
        padding-top: 30px;
      }




/*==============================               Login                  ============================*/



:root {
  --cor1: #03045e; 
  --cor2: #0077b6; 
  --cor3: #00b4d8; 
  --cor4: #90e0ef; 
  --cor5: #caf0f8; 
  --corBotao: #007bff;
  --corBotaoHover: #0056b3;
}

.login-body {
  background-image: url('imagem-fundo.jfif');
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    mask-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.login-container {
  width: 100%; 
  padding: 0; 
  box-sizing: border-box; 
}

.login-topo {
  background-color: var(--cor1);
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0; 
  height: 60px; 
  padding: 5px 0;
}

.login-topo-esquerda, .login-topo-meio, .login-topo-direita {
  display: flex;
  align-items: center;
}

.login-topo-esquerda {
  width: 10%;
}

.imagem .logo {
  width: 40px;
  cursor: pointer;
}

.login-topo-meio {
  flex-grow: 1;
  text-align: center;
  color: var(--cor5);
  font-size: 1.5em;
  font-weight: bold;
}

.login-topo-direita {
  width: 10%;
  justify-content: flex-end;
}

.login-botao-voltar{
  background-color: var(--cor3);
}

.login-meio {
  
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: calc(100vh - 120px); 
}

.login-info {
  background-color: var(--cor3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

.login-form {
  background-color: var(--cor5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid var(--cor1);
  border-radius: 5px;
  font-size: 16px;
}

.login-form input:focus {
  border-color: var(--corBotao);
  outline: none;
}

.div-senha {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--cor1);
  margin-top: 5px;
  cursor: pointer;
}

.div-senha input[type="checkbox"] {
  margin-right: 8px; 
  width: 16px;
  height: 16px;
  accent-color: var(--cor1); 
  cursor: pointer;
}

.mostrar-senha input[type="checkbox"]:checked {
  accent-color: var(--cor2); 
}


.login-botao-login {
  background-color: var(--cor3);
  color: var(--cor5);
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s;
  font-weight: bold;
}

.login-botaoLogin:hover {
  background-color: var(--corBotaoHover);
}

.login-baixo {
  
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
  font-size: 1.2em;
  padding-top: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
}







